<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>FAKE NEWS MACHINE LEARNING</title>


        <!-- PT SANS FONT -->
    
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&family=Montaga&family=Montserrat:wght@100;300;400;500;600;700;800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

        <!-- Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <div class="hero-image">
            <div class="hero-text">
                <h1>MOST COMMON WORDS</h1>
                 <p>PROJECT 4</p>
            </div>
        </div>
        <div class="grid-container">
            
            <!-- Header -->
            <header class="header">
                <div class="menu-icon" onclick="openSidebar()">
                    <span class="material-icons-outlined">menu</span>
                </div>
                <div class="header-left">
                    <span class="material-icons-outlined">search </span>
                </div>
                <div class="header-right">
                    <span class="material-icons-outlined">notifications</span>
                    <span class="material-icons-outlined">email</span>
                    <span class="material-icons-outlined">account_circle</span>
                </div>
            </header>
            <!-- End Header -->

            <!-- Sidebar -->
            <aside id="sidebar">
                <div class="sidebar-title">
                    <div class="sidebar-brand">
                        <span class="material-icons-outlined">inventory</span>FAKE NEWS 
                    </div>
                    <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
                </div>

                <ul class="sidebar-list">
                    <li class="sidebar-list-item">
                        <span class="material-icons-outlined">dashboard</span>
                        <a href="home.html">DASHBOARD</a>
                    </li>
                    <li class="sidebar-list-item">
                        <span class="material-icons-outlined">fact_check</span>
                        <a href="common.html">Most Common Words</a>
                    </li>
                    <li class="sidebar-list-item">
                        <span class="material-icons-outlined">menu_book</span>
                        <a href="articles.html">Article Data Set</a>
                    </li>
                    <li class="sidebar-list-item">
                        <span class="material-icons-outlined">vertical_align_top</span>MAX WORDS
                    </li>
                    <li class="sidebar-list-item">
                        <span class="material-icons-outlined">vertical_align_bottom</span>MIN WORDS
                    </li>
                    <li class="sidebar-list-item">
                        <span class="material-icons-outlined">poll</span>Reports
                    </li>
                    <li class="sidebar-list-item">
                        <span class="material-icons-outlined">settings</span>Settings
                    </li>
                </ul>
                <br></br>
                <ul class="member-list">
                    <p class="member-list-item">TEAM MEMBERS</p>
                    <li class="member-list-item">Bruce Chang</li>
                    <li class="member-list-item">Haithem Elmesallati</li>
                    <li class="member-list-item">Jonathan Rico</li>
                    <li class="member-list-item">Tuan Hoang</li>
                    <li class="member-list-item">Ivan Villa</li>
                    <li class="member-list-item">Vincent Passanisi</li>
            </aside>
            <!-- End Sidebar -->

            <!-- Main -->
            <main class="main-container">
                <div class="main-title">
                  <p class="font-weight-bold">Words Most Commonly Found in Real and Fake News Articles</p>  
                </div>

                <div class="main-cards">

                    <div class="card">
                        <div class="card-inner">
                            <p class="text-primary">AVG WORD COUNT - TITLES</p>
                            <span class="material-icons-outlined text-blue">fact_check</span>
                        </div>
                        <span class="text-primary font-weight-bold">8</span>
                    </div>

                    <div class="card">
                        <div class="card-inner">
                            <p class="text-primary">AVG WORD COUNT - ARTICLES</p>
                            <span class="material-icons-outlined text-orange">menu_book</span>
                        </div>
                        <span class="text-primary font-weight-bold">436</span>   
                    </div>

                    <div class="card">
                        <div class="card-inner">
                            <p class="text-primary">MAX WORD COUNT - ARTICLES</p>
                            <span class="material-icons-outlined text-red">vertical_align_top</span>
                        </div>
                        <span class="text-primary font-weight-bold">10,320</span>
                    </div>

                    <div class="card">
                        <div class="card-inner">
                            <p class="text-primary">MIN WORD COUNT - ARTICLES</p>
                            <span class="material-icons-outlined text-green">vertical_align_bottom</span>
                        </div>
                        <span class="text-primary font-weight-bold">0</span>
                    </div>

                </div>

                <div class="charts">

                    <div class="charts-card">
                        <p class="charts-title">Most Common Words - Real News</p>
                        <div class="image-container">
                        <img src="../static/real_news_word_count.png" alt="My Image"/>
                        </div>
                    </div>

                    <div class="charts-card">
                        <p class="charts-title">Most Common Words - Fake News</p>
                        <div class="image-container">
                            <img src="../static/fake_news_word_count.png" alt="My Image"/>
                        </div>
                    </div>

                    <div class="charts-card">
                        <p class="charts-title">Word Count of Titles - by Type</p>
                        <div class="image-container">
                            <img src="../static/title_split_word_count.png" alt="My Image"/>
                        </div>
                    </div>

                    <div class="charts-card">
                        <p class="charts-title">Word Count of Articles - by Type</p>
                        <div class="image-container">
                            <img src="../static/total_split_word_count.png" alt="My Image"/>
                        </div>
                    </div>

                    <div class="charts-card">
                        <p class="charts-title">Titles - Most Common Words - Real News</p>
                        <div class="image-container">
                            <img src="../static/common_title.png" alt="My Image"/>
                        </div>
                    </div>

                    <div class="charts-card">
                        <p class="charts-title">Titles - Most Common Words - Fake News</p>
                        <div class="image-container">
                            <img src="../static/fake_title_word_count.png" alt="My Image"/>
                        </div>
                    </div>

                </div>
            </main>
            <!-- End Main-->
            </div>
            <!-- Scripts -->
            <!-- ApexCharts  -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.37.2/apexcharts.min.js"></script>
        <!-- Custom JS -->
        <script src="../static/scripts.js"></script>
    </body>
</html>