<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>FAKE NEWS MACHINE LEARNING</title>


        <!-- PT SANS FONT -->
    
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&family=Montaga&family=Montserrat:wght@100;300;400;500;600;700;800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

        <!-- Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <div class="hero-image">
            <div class="hero-text">
                <h1>FAKE NEWS MACHINE LEARNING</h1>
                <h3>Results Model #1</h3>
                 <p>PROJECT 4</p>
            </div>
        </div>
        <div class="grid-container">

            <!-- Sidebar -->
            <aside id="sidebar">
                <div class="sidebar-title">
                    <div class="sidebar-brand">
                        <span class="material-icons-outlined">inventory</span>FAKE NEWS 
                    </div>
                    <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
                </div>
                <ul class="sidebar-list">
                    <li class="sidebar-list-item">
                        <span class="material-icons-outlined">dashboard</span>
                        <a href="home.html">DASHBOARD</a>
                    </li>
                    <li class="sidebar-list-item">
                        <span class="material-icons-outlined">fact_check</span>
                        <a href="common.html">Most Common Words</a>
                    </li>
                    <li class="sidebar-list-item">
                        <span class="material-icons-outlined">menu_book</span>
                        <a href="articles.html">Article Data Set</a>
                    </li>
                    <li class="sidebar-list-item-current">
                        <span class="material-icons-outlined">vertical_align_top</span>
                        <a href="results1.html">Model Results #1</a>
                    </li>
                     <li class="sidebar-list-item">
                        <span class="material-icons-outlined">vertical_align_top</span>
                        <a href="results2.html">Model Results #2</a>
                    </li>
                    <li class="sidebar-list-item">
                        <span class="material-icons-outlined">vertical_align_top</span>
                        <a href="results3.html">Model Results #3</a>
                    </li>
                    <li class="sidebar-list-item">
                        <span class="material-icons-outlined">poll</span>
                        <a href="resources.html">Resources</a>
                    </li>
                </ul>
                <br></br>
                <ul class="member-list">
                    <p class="member-list-item">TEAM MEMBERS</p>
                    <li class="member-list-item">Bruce Chang</li>
                    <li class="member-list-item">Haithem Elmesallati</li>
                    <li class="member-list-item">Jonathan Rico</li>
                    <li class="member-list-item">Tuan Hoang</li>
                    <li class="member-list-item">Ivan Villa</li>
                    <li class="member-list-item">Vincent Passanisi</li>
            </aside>
            <!-- End Sidebar -->

            <!-- Main -->
            <main class="main-container">
                <div class="main-title">
                  <p class="font-weight-bold">FAKE NEWS DASHBOARD</p>  
                </div>

                <div class="charts">

                    <div class="charts-card">
                        <p class="charts-title">Number of Articles in the Data Set</p>
                        <div id="bar-chart"></div>
                    </div>

                    <div class="charts-card">
                        <p class="charts-title">Word Counts in Titles and Articles</p>
                        <div class="image-container">
                            <img src="../static/unique_words.png" alt="My Image"/>
                        </div>
                    </div>

                    <div class="charts-card">
                        <p class="charts-title">Distribution of Articles by Length</p>
                        <div class="image-container">
                            <img src="../static/download (2).png" alt="My Image"/>
                        </div>
                    </div>

                    <div class="charts-card">
                        <p class="charts-title">Distribution of Article Length by Type</p>
                        <div class="image-container">
                            <img src="../static/download (3).png" alt="My Image"/>
                        </div>
                    </div>

                </div>
            
            </main>
            <!-- End Main-->
            </div>
            <!-- Scripts -->
            <!-- ApexCharts  -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.37.2/apexcharts.min.js"></script>
        <!-- Custom JS -->
        <script src="../static/scripts.js"></script>
    </body>
</html>